<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Portátiles Mercedes{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/adminlte/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/adminlte/css/adminlte.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  {% block head_extra %}{% endblock %}
</head>
<body class="{% block body_class %}hold-transition sidebar-mini{% endblock %}">
  {% block body %}{% endblock %}
  <script src="/static/adminlte/plugins/jquery/jquery.min.js"></script>
  <script src="/static/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/adminlte/js/adminlte.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
