{% extends 'base_adminlte.html' %}
{% block title %}Login - Portátiles Mercedes{% endblock %}
{% block body_class %}hold-transition login-page{% endblock %}
{% block body %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1"><b>Portátiles</b>Mercedes</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Ingresá tus datos</p>
      <form id="loginForm">
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </div>
        </div>
      </form>
      <p id="errorMsg" class="text-danger mt-2"></p>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/login.js"></script>
{% endblock %}
