{% extends 'panel_cliente.html' %}
{% block title %}Mis Baños Alquilados{% endblock %}
{% block description %}Visualización de baños alquilados por el cliente{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Mis baños alquilados</h2>

  <div class="d-flex justify-content-between align-items-center my-3">
    <input type="text" id="busquedaAlquileres" class="form-control buscador-tabla" placeholder="Buscar alquiler...">
    <button id="btnBuscarAlquiler" class="btn btn-secondary ml-2">Buscar</button>
  </div>

  <div class="table-responsive bg-light p-3">
    <table id="tablaAlquileres" class="table pm-tabla table-striped table-bordered">
      <thead>
        <tr>
          <th>Nº Baño</th>
          <th>Cliente</th>
          <th>Razón social</th>
          <th>DNI / CUIT / CUIL</th>
          <th>Dirección</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}

<!-- ALERTA CENTRAL PERSONALIZADA -->
<div id="alert-manager" class="alert-container">
  <div class="alert-box">
    <img id="alert-icon" alt="icono-alerta" class="alert-icon" />
    <span id="alert-text" class="alert-message">Texto de alerta</span>
  </div>
</div>
{% block scripts %}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="/clientes_alquileres.js?v=1"></script>

{% endblock %}
