{% extends 'panel_empleado.html' %}
{% block title %}Salarios{% endblock %}
{% block description %}Mis salarios{% endblock %}
{% block head_extra %}
{{ super() }}
{% endblock %}
{% block content %}
<h2 class="mb-3 mt-0">Mis salarios</h2>
<div class="table-responsive bg-light p-3">
  <table id="tablaSalarios" class="table pm-tabla table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>DNI / CUIT / CUIL</th>
        <th>Salario</th>
        <th>Anticipo</th>
        <th>Saldo</th>
        <th>Recibo</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="/static/js/empleados_salarios_empleado.js"></script>
{% endblock %}
