{# 2025-07-10: corrige bloque principal para renderizar contenido #}
{% extends 'base_adminlte.html' %}
{% block title %}Próximas Limpiezas{% endblock %}
{% block description %}Cronograma de limpiezas asignadas{% endblock %}
{% block head_extra %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<div class="container mt-4">
  <h2>Próximas limpiezas</h2>
  <div class="table-responsive bg-light p-3">
  <table id="tablaProgramacion" class="table tabla-mercedes table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Nº baño</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="/programacion_limpiezas_cliente.js?v=1"></script>
{% endblock %}
