<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-alquiler.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-galeria.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-info-bano.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-login.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-registro.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-servicio.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-splash-clientes.png">
    <link rel="preload" as="image" href="/app_publico/static/imagenes/fondo-ventas.png">
    <link rel="preload" as="image" href="/static/imagenes/fondo-panel.png">
    <link rel="preload" as="image" href="/static/imagenes/fondo-splash-admin.png">
    <link rel="preload" as="image" href="/static/imagenes/fondo-splash-empleados.png">
    <meta charset="UTF-8">
    <title>Bienvenido - Portátiles Mercedes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pantalla inicial para empleados">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Nunito', sans-serif;
            background: url('/static/imagenes/fondo-splash-empleados.png') no-repeat center center fixed;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="saludo-splash">
        <span class="linea-uno">Bienvenido/a</span><br>
        <span class="linea-dos">{{ nombre_usuario }}</span>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = '/empleado/panel';
        }, 5000);
    </script>
    <!-- ALERTA CENTRAL PERSONALIZADA -->
    <div id="alert-manager" class="alert-container">
      <div class="alert-box">
        <img id="alert-icon" src="" alt="icono-alerta" class="alert-icon" />
        <span id="alert-text" class="alert-message">Texto de alerta</span>
      </div>
    </div>
    <script src="/static/js/alertas.js"></script>
</body>
</html>
